html, body {
  width: 800px;
  height: auto;
  margin: auto;
  padding-top: 20px;
}
canvas {
  display: block;
  margin: auto;
  padding-top: 10px;
}

p{
  font-family: verdana;
  font-size: 14px;
  color: grey;
  display: block;
  margin: auto;
  padding-top: 10px;
  padding: 3px;
}

.text-holder {
  width: 800px;
  height: auto;
  margin: auto;
}
